<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="~/admin/login" timeout="30" />
        </authentication>
        <authorization>
            <deny users="?" /> <!-- Giriş yapmamış kullanıcıları engelle -->
        </authorization>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
