
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "_Layout";
}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis" style="margin-bottom: 40px; text-align: center;">Hakkımızda</h1>
            <h2 style="margin-bottom: 20px; text-align: center;">Kitapları keşfetmek için doğru yerdesiniz!</h2>
            <p class="lead" style="text-align: center;">Günümüzde bir kitabı satın almadan önce onun hakkında detaylı bilgiye ulaşmak, kullanıcı yorumlarını okumak ve en uygun fiyatı bulmak büyük bir ihtiyaç haline geldi. İşte bu noktada, size daha iyi bir okuma ve alışveriş deneyimi sunmak
                için buradayız.</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/images/login_register.jpg" alt="" width="720">
        </div>
    </div>
</div>
