@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "_Layout";
}

<div class="row flex-lg-row-reverse align-items-center g-5 py-2">
    <div class="col-12 col-sm-8 col-lg-6">
        <img src="/images/main_menu.jpg" class="d-flex mx-lg-auto img-fluid shadow-effect" alt="Bootstrap Themes" loading="lazy">
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-start">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Kararsız mısın?</h1>
        <h2>Yardımcı olalım.</h2>
        <div class="d-grid gap-2 d-md-flex mt-5 justify-content-md-start justify-content-center">
            <a class="btn btn-primary btn-lg px-4 me-md-2" href="@Url.Action("Index", "Category")" class="nav-link px-2 text-body-secondary" role="button" style="justify-items: baseline; color: white; background-color: black; border-color: black;">
                <i class="bi bi-book" style="margin-right: 10px; font-size: 1rem;"></i> Kategoriler</a>
        </div>
    </div>
</div>
